.mainbody {
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 

  .insidebody {
    .desccontent {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; // Optionally adjust this to your needs
    }
  }
}

